name: ci

on:
  workflow_dispatch:
    inputs:
      BuildConfiguration:
        description: Build Configuration
        required: true
        default: Release
  push:
    paths-ignore:
    - '.azure-pipelines/**'
    - LICENSE
    - README.md
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  build:
    #no point using matrix build as "Container operations are only supported on Linux runners"
    # strategy:
    #   matrix:
    #     os: [ubuntu-latest,windows-latest]
    # runs-on: ${{matrix.os}}
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitversion.outputs.semVer }}
    services:
      redis:
        image: redis
        ports:
        - 6379:6379

    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: gitversion install
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: 5.x

    #https://gitversion.net/docs/usage/
    - name: gitversion determine version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
        useConfigFile: true

    - name: .NET Core 3.1.x SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: .NET 5.x SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: dotnet restore
      run: dotnet restore --verbosity minimal --configfile nuget.config

    - name: dotnet build
      run: dotnet build -c Release --nologo --no-restore -p:Version='${{ steps.gitversion.outputs.semVer }}' -p:SourceRevisionId=${{ github.sha }}

    - name: dotnet test
      run: dotnet test -c Release --nologo --no-restore --no-build -p:CollectCoverage=true -p:CoverletOutputFormat=lcov -p:CoverletOutput=${{ github.workspace }}/coverage/
    - name: code coverage - coveralls (1 of 3) - .NET Core 3.1.x
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        path-to-lcov: ${{ github.workspace }}/coverage/coverage.netcoreapp3.1.info
        flag-name: run-netcoreapp3.1
        parallel: true

    - name: code coverage - coveralls (2 of 3) - .NET 5.x SDK
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        path-to-lcov: ${{ github.workspace }}/coverage/coverage.net5.0.info
        flag-name: run-net5.0
        parallel: true

    - name: code coverage - coveralls (3 of 3)
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

    - name: code coverage - report generator
      uses: danielpalme/ReportGenerator-GitHub-Action@4.5.8
      if: runner.OS == 'Linux'
      with:
        reports: ./coverage/coverage.*.info
        targetdir: ./coveragereport
        reporttypes: lcov
        tag: ${{ github.run_number }}_${{ github.run_id }}

    - name: code coverage - upload-artifact
      uses: actions/upload-artifact@v2
      if: runner.OS == 'Linux'
      with:
        name: coveragereport
        path: coveragereport

    - name: dotnet pack
      run: dotnet pack -c Release --nologo --no-build --include-symbols -p:Version='${{ steps.gitversion.outputs.semVer }}'
      if: github.ref == 'refs/heads/main' && runner.OS == 'Linux'

    - name: dotnet push (nuget)
      run: dotnet nuget push ${{ github.workspace }}/src/**/*.nupkg --skip-duplicate -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
      if: github.ref == 'refs/heads/main'

    - name: dotnet push (github)
      run: dotnet nuget push ${{ github.workspace }}/src/**/*.nupkg --skip-duplicate -k ${{ secrets.GITHUB_TOKEN }} -s https://nuget.pkg.github.com/${{ github.actor }}/index.json
      if: github.ref == 'refs/heads/main'

    - name: create-release ${{ steps.gitversion.outputs.semVer }}
      uses: actions/create-release@v1 #todo: this is deprecated, replace with another action later...?
      if: github.ref == 'refs/heads/main'
      with:
        tag_name: ${{ steps.gitversion.outputs.semVer }}
        release_name: Release ${{ steps.gitversion.outputs.semVer }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  SonarQube:
    runs-on: windows-latest
    steps:
    - uses: ./.github/actions/sonarqube
      with:
        SonarToken: ${{ secrets.SONAR_TOKEN }}